<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <% require 'pg' %>
    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>
    <% result_give_for = connection.exec("SELECT * FROM crops WHERE give_for !='自家消費'") %>
    <% data_give_for = [] %>
    <% result_give_for.each do |record| %>
      <% data_give_for <<
       "長さ:#{record["length"]} 重さ:#{record["weight"]} 品質:#{record["quality"]} 譲渡先:#{record["give_for"]} 日付:#{record["date"]}"
      %>
    <% end %>
    <form action="goya.cgi" method="POST">
       下記のボタンを押すと、売った相手の情報ページに飛びます<br><br>
      <input type="text" name="goya" value="<%= data_give_for.join(' ') %>">
      <input type="submit" name="送信" >
    </form>
    <% result_quality = connection.exec("SELECT * FROM crops WHERE quality = false") %>
    <% data_quality = [] %>
    <% result_quality.each do |record| %>
      <% data_quality <<
        "長さ:#{record["length"]} 重さ:#{record["weight"]} 品質:#{record["quality"]} 譲渡先:#{record["give_for"]} 日付:#{record["date"]}"
      %>
    <% end %>
    <form action="goya2.cgi" method="POST">
       下記のボタンを押すと、ゴーヤの品質の情報ページに飛びます<br><br>
      <input type="text" name="goya" value="<%= data_quality.join(' ') %>">
      <input type="submit" name="送信" >
    </form>
  </body>
</html>
